     
     <header class="header flex flex-row justify-between items-center pl-20 pr-20">
         <div class="pt-5 pb-5">
             <img src="/logo.webp" class="logo w-24" alt="">
         </div>
         <div class="menu flex flex-row gap-x-8 justify-center items-center">
             <div class="menu-item p-2">
                 Home
             </div>
             <div class="menu-item p-2">
                 About Us
             </div>
             <div class="menu-item p-2">
                 Materials Supply
             </div>
             <div class="menu-item p-2">
                 Facility Services
             </div>

             <!-- <div class="nav1">
                 <div class="nav-item menu-item p-2 text-[16px]" id="materialsSupply">Materials Supply</div>
                 <div class="dropdown1 z-2" id="dropdown1">
                     <p >1</p>
                     <p >2</p>
                 </div>
             </div>
             <div class="nav2">
                 <div class="nav-item menu-item p-2 text-[16px]" id="facilityServices">Facility Services</div>
                 <div class="dropdown2 z-2" id="dropdown2">
                     <p >3</p>
                     <p >4</p>
                 </div>
             </div> -->

             <!-- <select name="service" id="service">
                 <option value="fs" class="drop-item"><a href="#">Facility Services</a></option>
                 <option value="ms" class="drop-item"><a href="#">Materials Supply</a></option>
                 <option value="ms" class="drop-item" selected><a href="#">Services</a></option>
             </select> -->
             
             <a href="/contact" class="hover:text-[#f5b105]">Contact</a>

         </div>    
     </header>